<!DOCTYPE html>
<html>
<head>
    <title>Dr Stone</title>
    </head>
    <body>
            <h1>The Premise</h1>
            <p>The story follows a genius high schooler named Senku Ishigami, who is determined to rebuild human civilization after a mysterious green flash turns every human on Earth into stone. 3,700 years later, Senku awakens and uses his vast knowledge of real-world chemistry and physics to recreate inventions from scratch, starting with an anti-petrification fluid.</p>
    </body>
</head>
</html>