<!DOCTYPE html>
<html>
<head>
    <title>Login</title> 
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="login-card">
        <h1>Welcome to the login.</h1>
        <p>Welcome Back</p>

        <form>
            <label for="email">Email</label>
            <input type="text" id="email" placeholder="Email">

            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Password">
            
            <button type="submit">Log in</button>
        </form>

        <a href="{{ url_for('signup') }}">Sign up</a>
    </div>
    
</body>
</html>