<!DOCTYPE html>
<html>
<head>
    <title>Sign up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='more.css') }}">
</head>
<body>
    <div class="signup-card">
        <h1>Create account</h1>
        <p>or use your email to for registration</p>
        <form>
            <label for="username">Username</label>
            <input type="text" id="username" placeholder="username">

            <label for="email">Email</label>
            <input type="text" id="email" placeholder="email">

            <label for="password">Password</label>
            <input type="password" id="password" placeholder="password">

            <button>Sign up</button>
        </form>
        <a href="{{ url_for('login') }}">Log in</a>
    </div>
</body>
</html>