<!DOCTYPE html>
<html>
<head>
    <title>Sign up</title>
    </head>
    <body>
            <h1>Create account</h1>
            <p>or use your email to for registration</p>


            <label for = "Name">Name</label>
            <input type = "text" id = "Name" placeholder="Name">


            <label for = "email">Email</label>
            <input type = "text" id = "email" placeholder="email">

            <h1>Sign In </h1>
            <p>or use your account</p>
            
    </body>
            
</head>
</html>